header {
  background-color: rgba(70, 57, 56, 0.91);
  color: rgba(255, 255, 255, 0.2);
  padding: 12px 12px 24px 12px;
}

.header__header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.header__header-bottom {
  display: flex;
  justify-content: space-between;
}

.header__header-top .column {
  margin-bottom: 17px;
}

.kakaotalk {
  font-size: 17px;
  color: white;
}

.column .user {
  padding-right: 25px;
  padding-left: 14px;
}

.column .bell {
  padding-right: 8px;
}

a {
  color: inherit;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.clicked {
  color: white;
}
