.search-name {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}

.search-name-text {
  font-size: 13px;
}

.my_profile-mine,
.my_friends-title {
  padding: 10px;
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}

.my_profile img,
.my_friends img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.my_profile-flex,
.my_friends-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-message {
  font-size: 10px;
  background: #f0f0f0;
  padding: 10px 10px;
  border-radius: 5px;
  color: #939393;
  margin-right: 10px;
}

.friends-row {
  display: flex;
  align-items: center;
}
.my_friends-flex:hover,
.my_profile-flex:hover {
  background-color: #ebebeb;
}

.my_profile-flex .text,
.my_friends-flex .text {
  font-size: 13px;
  font-weight: bold;
}
